<template>
  <q-page class="flex items-start relative-position">
    <section ref="trigger0" class="padding hero text-primary flex items-center">
      <div class="max-width">
        <div class="w-50 flex column">
          <h1 ref="title" class="text-weight-bold">{{$t('title')}}</h1>
          <span ref="desc" class="text-body">{{$t('desc')}}</span>
        </div>
      </div>
    </section>
    <svg width="1920" height="1665" viewBox="0 0 1920 1665" class="bg" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-113 51.005C-7.5 50.3383 391.1 51.005 322 387.505C247.356 751 408.5 799.5 644 772.5C879.5 745.5 1374.5 680.995 1500.5 872.5C1672.39 1133.76 1531.3 1347.68 1760 1467.5C2053 1621 2673 1004.49 2447 1406.5" stroke="#E4C4B3" stroke-width="5"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1971.34 226.815C1948.38 233.024 1923.04 228.192 1903.86 214.268C1882.95 199.088 1868.16 175.95 1866.01 150.353C1863.8 124.168 1870.69 94.1924 1892.48 79.1597C1912.6 65.2744 1937.02 57.7635 1961.52 58.5925C1981.77 59.2777 2005.63 71.1615 2021.58 83.5277C2037.82 96.1262 2038.65 120.178 2036.8 140.537C2035.22 157.981 2022.99 170.921 2012.36 184.931C2000.09 201.094 1991.03 221.491 1971.34 226.815Z" stroke="#E4C4B3" stroke-width="12"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1483.5 739.214C1469.32 722.233 1463.47 698.973 1467.65 677.391C1472.21 653.86 1485.83 632.421 1506.45 620.691C1527.54 608.691 1555.36 602.901 1576.48 615.475C1595.98 627.089 1611.82 644.789 1620.7 665.794C1628.03 683.156 1627.39 707.902 1623.25 726.148C1619.04 744.737 1599.2 754.753 1581.4 761.072C1566.16 766.487 1550.53 761.173 1534.63 757.624C1516.29 753.529 1495.65 753.776 1483.5 739.214Z" stroke="#E4C4B3" stroke-width="12"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M883.353 317.631C867.531 322.205 850.034 318.497 836.752 307.999C822.272 296.553 811.992 279.165 810.417 259.979C808.805 240.351 813.455 217.914 828.436 206.724C842.274 196.389 858.233 197.978 875.14 198.683C889.115 199.266 906.48 201.119 917.522 210.439C928.771 219.935 929.429 237.959 928.222 253.208C927.187 266.273 930.799 280.998 923.514 291.459C915.108 303.528 896.921 313.709 883.353 317.631Z" stroke="#E0B8A5" stroke-opacity="0.4" stroke-width="11"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M540.831 849.143C563.917 834.498 593.21 831.904 620.5 833C650.024 834.185 685.45 833.427 704.781 855.725C724.1 878.009 703.269 911.928 695.526 940.433C689.77 961.626 682.289 981.529 666.468 996.783C649.399 1013.24 628.885 1029.55 605.299 1027.42C581.853 1025.3 592.961 1013.58 576.5 996.783C557.957 977.865 526.008 966.868 524 940.433C521.796 911.408 516.214 864.758 540.831 849.143Z" stroke="#E0B8A5" stroke-opacity="0.59" stroke-width="8"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M-7.13435 1409.54C13.1385 1414.21 32.6735 1414.47 46.6466 1429.2C61.7637 1445.14 78.5967 1476.82 76.8131 1498.04C75.0306 1519.23 45.7523 1531.25 26.1466 1541.5C11.5704 1549.12 -3.47905 1549.35 -20.2043 1548.77C-38.2481 1548.14 -58.0541 1545.65 -69.4879 1532.33C-80.854 1519.08 -76.3855 1500.65 -76.0573 1483.68C-75.6877 1464.57 -80.7698 1443.48 -67.493 1429.2C-52.9152 1413.52 -28.751 1404.57 -7.13435 1409.54Z" stroke="#E4C4B3" stroke-width="11"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1249.87 1424.54C1270.14 1429.21 1296.53 1429.47 1310.5 1444.2C1325.62 1460.14 1335.6 1491.82 1333.81 1513.04C1332.03 1534.23 1302.5 1540.4 1282.89 1550.65C1268.32 1558.27 1253.52 1564.35 1236.8 1563.77C1218.75 1563.14 1198.95 1560.65 1187.51 1547.33C1176.15 1534.08 1180.61 1515.65 1180.94 1498.68C1181.31 1479.57 1176.23 1458.48 1189.51 1444.2C1204.08 1428.52 1228.25 1419.57 1249.87 1424.54Z" stroke="#E0B8A5" stroke-opacity="0.65" stroke-width="10"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1088.51 532.265C1100.83 542.323 1121.62 546.149 1123.37 562.112C1125.15 578.376 1109.06 591.177 1096.11 601.651C1084.3 611.19 1070.3 616.581 1055.33 617.113C1039.35 617.68 1021.34 616.782 1011.31 604.66C1001.53 592.852 1007.59 575.585 1008.09 560.048C1008.6 544.113 1002.47 525.442 1014.21 514.315C1025.96 503.177 1044.84 506.867 1060.27 510.594C1072.35 513.513 1078.96 524.465 1088.51 532.265Z" stroke="#E0B8A5" stroke-opacity="0.52" stroke-width="9"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M-94.1483 377.112C-122.211 359.898 -139.463 328.535 -140.477 293.924C-141.583 256.188 -127.805 216.374 -99.7171 187.04C-70.9829 157.031 -29.5719 132.43 7.7834 139.086C42.2877 145.233 60.8404 171.317 82.0358 197.577C99.5549 219.282 119.549 247.837 119.461 277.446C119.371 307.61 91.8997 333.939 66.3316 353.577C44.4256 370.403 26.0392 396.507 -0.0193864 400.328C-30.0829 404.737 -70.0833 391.873 -94.1483 377.112Z" stroke="#E0B8A5" stroke-opacity="0.4" stroke-width="11"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1325.16 0C1326.11 13.2112 1331.22 25.6351 1343.09 36.2949C1350.14 42.6179 1357.05 47.1058 1365.36 49.858C1373.65 52.6064 1382.83 53.4564 1394 53.1617C1415.3 52.5999 1435.17 46.8967 1451.85 36.8762L1452.59 36.4322C1461.05 31.3539 1470.88 25.448 1478.33 18.7618C1484.37 13.3408 1489.22 7.08353 1490.33 0H1479.99C1478.9 4.74543 1475.47 9.3216 1470.42 13.848C1463.62 19.9558 1454.45 25.4616 1445.75 30.6861L1445.35 30.9296C1430.27 39.9873 1412.46 45.0669 1393.45 45.5684C1383.13 45.8408 1375.69 45.0206 1369.37 42.9266C1363.06 40.8363 1357.37 37.3096 1350.91 31.5109C1340.88 22.5098 1336.28 11.8806 1335.37 0H1325.16Z" fill="#E0B8A5" fill-opacity="0.52"/>
    </svg>
    <section ref="trigger1" id="about" class="max-width padding text-secondary flex no-wrap items-center">
       <div class="flex column w-50">
         <h2  ref="title1" class="text-weight-bold">{{$t('title2')}}</h2>
         <span  ref="desc1" class="text-body text-body-2" v-html="$t('desc2')"></span>
       </div>
       <img ref="img1" src="/bg2.png" class="q-ml-xl d-no" style="width:40%;height: fit-content"/>
    </section>
    <section ref="trigger2" class="max-width flex flex-center padding no-wrap sliders">
      <!-- <img v-if="slide!=0" :src="`/slider/${slide-1}.jpeg`" class="slider-left"/> -->
      <!-- <div class="slider-left" :style="`background-image:url(/slider/${slide-1}.jpeg)`"></div> -->
      <q-carousel
      ref="title2"
        v-model="slide"
        transition-prev="scale"
        transition-next="scale"
        swipeable
        animated
        control-color="white"
        navigation
        style="width: 100%"
        padding
        arrows>
        <q-carousel-slide v-for="(item,i) in slides" :name="i">
          <img :src="`/slider/${i}.jpeg`"/>
        </q-carousel-slide>
      </q-carousel>
      <!-- <div class="slider-right" :style="`background-image:url(/slider/${slide+1}.jpeg)`"></div> -->
      <!-- <img v-if="slide!=slides-1" :src="`/slider/${slide+1}.jpeg`" class="slider-right"/> -->
    </section>
    <section ref="trigger4" id="contact" class="flex items-center no-wrap padding text-primary contact">
       <div class="max-width flex no-wrap items-center">
         <a ref="img4" href="https://goo.gl/maps/mzjceoV2Gjawdju98" style="width:40%;display:flex;" class="q-mr-xl">
           <!-- <img src="/map.png"  style="width:100%;height: fit-content"/> -->
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2175.3392379197803!2d24.1645993!3d56.960121300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eece46c5f5dfbb%3A0x3442591aa513a98d!2sBraslas%20iela%2022%2C%20Vidzemes%20priek%C5%A1pils%C4%93ta%2C%20R%C4%ABga%2C%20LV-1084!5e0!3m2!1sru!2slv!4v1679256952836!5m2!1sru!2slv" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </a>
         <div class="flex column text-right">
           <h1 ref="title4">{{$t('title3')}}</h1>
           <span ref="desc4" class="text-body">
             {{$t('tel')}}: <a style="text-decoration:none;color:var(--q-primary)" href="tel:+37120209051">+371 20209051</a>
             <br/>
             {{$t('email')}}: <a style="text-decoration:none;color:var(--q-primary)" href="mailto:sales@rtktimber.lv">sales@rtktimber.lv</a>
             <br/>
             Stabu iela 62A-8 , Rīga Latvia  LV-1009
             <br/>
             Warehouse, Atbalss iela 5, Rīga, LV-1063
           </span>
         </div>
       </div>
    </section>
  </q-page>
</template>

<script>
export default{
  data(){
    return{
      slides: 18,
      slide: 10
    }
  },
  mounted(){
    const cont = new this.$ScrollMagic.Controller();
    let tl = new this.$TimelineMax()
    tl.fromTo(this.$refs.title,.45,{opacity:0},{opacity:1},0)
    tl.fromTo(this.$refs.desc,.45,{opacity:0,y:50},{opacity:1,y:0},0)
    let scene = new this.$ScrollMagic.Scene({ loglevel: 0, triggerElement: this.$refs.trigger0, triggerHook: 1, offset: 0 })
    .setTween(tl)
    .addTo(cont);

        let tl2 = new this.$TimelineMax()
        tl2.fromTo(this.$refs.title1,.45,{opacity:0},{opacity:1},0)
        tl2.fromTo(this.$refs.desc1,.45,{opacity:0,y:50},{opacity:1,y:0},0)
        tl2.fromTo(this.$refs.img1,.45,{opacity:0},{opacity:1},0)
        let scene2 = new this.$ScrollMagic.Scene({ loglevel: 0, triggerElement: this.$refs.trigger1, triggerHook: 0, offset: -this.$q.screen.height/2 })
        .setTween(tl2)
        .addTo(cont);


        let tl3 = new this.$TimelineMax()
        tl3.fromTo(this.$refs.title2.$el,.45,{opacity:0},{opacity:1},0)
        let scene3 = new this.$ScrollMagic.Scene({ loglevel: 0, triggerElement: this.$refs.trigger2, triggerHook: 0, offset: -this.$q.screen.height/2 })
        .setTween(tl3)
        .addTo(cont);


        let tl4 = new this.$TimelineMax()
        tl4.fromTo(this.$refs.title4,.45,{opacity:0},{opacity:1},0)
        tl4.fromTo(this.$refs.desc4,.45,{opacity:0,y:50},{opacity:1,y:0},0)
        tl4.fromTo(this.$refs.img4,.45,{opacity:0},{opacity:1},0)
        let scene4 = new this.$ScrollMagic.Scene({ loglevel: 0, triggerElement: this.$refs.trigger4, triggerHook: 0, offset: -this.$q.screen.height })
        .setTween(tl4)
        .addTo(cont);

  }
}
</script>

<style>
.hero{
  min-height: calc(100vh - 50px);
    background-size: auto 100%;
    background-image: url(/bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
svg.bg {
    position: absolute;
    z-index: -1;
    top: calc(100vh - 50px);
    left: 0;
    width: 100%;
    height: auto;
}
.q-page section *{
  z-index: 1
}
.contact {
    background-image: url(/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 2;
    padding-top: 9em;
}
.sliders {
  width: 100%;
    padding-top: 0;
    position: relative;
}
.slider-left {
      position: absolute;
      left: 21%;
      height: 300px;
      margin-top: 42px;
      z-index: 0 !important;
      width: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}
.slider-right {
    position: absolute;
    z-index: 0 !important;
    margin-top: 42px;
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 57%;
}
.q-carousel {
    height: 600px;
}
.q-carousel__slide {
    padding: 0 !important;
}
.q-carousel{
  background: transparent
}
.q-carousel__slide img {
    height: 100%;
    position: absolute;
    top: 10%;
}
.q-carousel__navigation-icon--active {
    border: solid white 1px;
    transform: scale(.7);
}

.q-carousel__navigation-icon--active i {
    display: none;
}
.q-carousel__navigation .q-btn i {
    font-size: 1em;
}
.q-carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
