@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
  background: var(--q-primary);
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
.q-page section{
  width: 100%
}
.q-page{
    overflow-y: hidden;
}
.max-width {
    max-width: 1440px;
    margin: 0 auto;
}
.q-toolbar {
    max-width: 1440px;
    margin: 0 auto;
}
h1,h2,h3{
    font-family: "Intro";
    font-style: normal;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 38px;
    margin: 0.25em 0;
    position: relative;
}
h2{
  padding-left: 15px
}
h2:before {
    content: '';
    position: absolute;
    left: 0;
    width: 5px;
    height: 83%;
    background: #C47551;
}
.text-body{
  font-size: 20px;
}
.text-body-2{
  font-size: 16px;
}
.padding{
   padding: 50px 100px
}
.w-50{
  width: 60%
}

@media (min-width:1440px) and (max-width:1920px){
  .q-carousel {
    height: 600px !important;
  }
  .slider-left {
    height: 600px !important;
    width: 600px !important;
    left: 10% !important;
    top: 25% !important;
  }
  .slider-right {
    height: 600px !important;
    width: 600px !important;
    left: 50% !important;
    top: 25% !important;
  }
}

@media (min-width:1440px){
  .padding {
    padding: 150px 100px;
  }
  h1,h2,h3{
    font-size: 52px;
  }
  .text-body {
    font-size: 24px;
  }
}

@media (min-width:968px){
  .contact .max-width.flex.no-wrap.items-center {
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width:968px){
  .contact .q-mr-xl{
    margin-right: 0
  }
  .q-carousel {
    width: 100% !important;
    height: 400px !important;
  }
  .slider-left {
    display: none;
    height: 300px !important;
    width: 300px !important;
    left: 10% !important;
    top: 10% !important;
  }
  .slider-right {
    display: none;
    height: 300px !important;
    width: 300px !important;
    left: 45% !important;
    top: 10% !important;
  }
  .flex.no-wrap.menu a {
    white-space: nowrap;
  }
  .contact .max-width {
    flex-direction: column-reverse !important;
  }
  .padding {
    padding: 25px 50px;
  }
  h1,h2,h3{
    font-size: 35px;
  }
  .text-body {
    font-size: 17px;
  }
  .w-50 {
    width: 100%;
    text-align: center;
  }
  .d-no{
    display: none
  }
  .contact .max-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .max-width img{
    margin: 0;
    margin-top: 2em
  }
  .contact .max-width *{

    width: 100%;
    height: auto;
    min-width: 100%;
    margin-top: 1em;
    text-align: center
  }
}

@media (min-width:1920px){
  .q-carousel {
    height: 1000px !important;
  }
  .slider-left {
    height: 800px !important;
    width: 800px !important;
    left: 2% !important;
    top: 25% !important;
  }
  .slider-right {
    height: 800px !important;
    width: 800px !important;
    left: 45% !important;
    top: 25% !important;
  }
}

@media (max-width:600px){
  .contact img {
    max-height: 104px !important
  }
  .menu a{
    font-size: .8em;
  }
}

@media (max-width: 500px){

  .padding {
      padding: 25px 30px;
  }
}
