<template>
  <q-layout view="lHh Lpr lFf">
    <q-header style="box-shadow: 0.2em 0.2em 0.4em #0000002e;">
      <q-toolbar class="padding flex items-center justify-between" style="padding-top:0;padding-bottom:0">
        <q-img src="/logo.png" style="width:140px"/>
        <div class="flex no-wrap menu flex-center">
          <router-link class="q-ml-md text-secondary text-weight-bold" :to="`/${$route.params.lang}`">{{$t('home')}}</router-link>
          <a :href="`/${$route.params.lang}#about`" class="q-ml-md text-secondary text-weight-bold">{{$t('about')}}</a>
          <a :href="`/${$route.params.lang}#contact`" class="q-ml-md text-secondary text-weight-bold">{{$t('contact')}}</a>
          <div class="q-ml-lg">
            <div class="flex cursor-pointer no-wrap flex-center text-weight-bold" style="color:rgba(107, 49, 25, 0.6)">
              {{langs.find(e=>e.value==lang).label}}
              <img class="q-ml-xs" :src="`/langs/${langs.find(e=>e.value==lang).value}.png`" style="width:14px;height:fit-content"/>
              <q-icon name="expand_more" class="q-ml-xs"/>
            </div>
            <q-menu>
              <q-list>
                <q-item clickable class="flex items-center" v-for="(item,i) in langs" v-show="item.value!=lang" @click="setLocale(item.value)">
                  {{item.label}}
                  <img class="q-ml-xs" :src="`/langs/${item.value}.png`" style="width:14px;height:fit-content"/>
                </q-item>
              </q-list>
            </q-menu>
          </div>
        </div>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default{
  data(){
    return{
      lang: null,
      langs: [
        { label: "Deutsch", value: "de" },
        { label: "Latviski", value: "lv" },
        { label: "English", value: "en-GB" }
      ]
    }
  },
  methods: {
    async setLocale(locale){
      this.$i18n.locale = locale
      await import('quasar/lang/'+locale).then(lang =>this.$q.lang.set(lang.default))
      const lang = locale == 'de'? 'de' : locale == 'lv' ? 'lv' : 'en-GB'
      this.$router.push('/'+lang)
      this.lang = lang
    }
  },
  beforeMount(){
    const lang = this.$route.params.lang == 'de'? 'de' : this.$route.params.lang == 'lv' ? 'lv' : 'en-GB'
    this.lang = lang
    this.setLocale(lang)
  },
  mounted(){
    console.log(this.$i18n)
  }
}
</script>

<style>
.menu a{
  text-decoration: none
}
.q-menu.q-position-engine.scroll {
    margin-top: 15px !important;
}
.q-menu .q-item.q-item-type.row.no-wrap.q-item--clickable.q-link.cursor-pointer.q-focusable.q-hoverable.flex.items-center {
    justify-content: space-between;
}
</style>
